h1,
h2,
h3,
h4,
a,
p,
div,
nav,
img,
body,
figure {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
}

body {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.backgroundContainer{
  background-color: #000000;
  width: 100%;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
  background-color: #000000;
  padding-bottom: 100px;
}

.greetingsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 35px;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.greetingsLineDecorationContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.greetingsLineHoleder {
  display: flex;
  width: 30%;
  
}

.greetingsCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 1.3rem;
  line-height: 1.3;

}

.greetingsParagraph {
  width: 85%;
  margin-bottom: 50px;
}

.navigationContainer {
  display: flex;
  flex-direction: column;
}

.navigationPages {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: space-between;
  margin-top: 35px;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 1.3rem;
}

.aboutTitle{
margin-bottom: 55px;
font-weight: 500;
}

.aboutParagraph {
  width: 85%;
}

.imageHolder {
  width: 100%;
}

.imageSource {
  width: 100%;
}

.greetingsLink,
.navigationLink {
  color: #fff;
  display: inline-block;
}

.greetingsLink {
  font-weight: 600;
  text-decoration: none;
}

.navigationLink {
  font-weight: 600;
  text-decoration: none;
}

.greetingsLink:hover {
  color: #ffffff;
}

.navigationLink:hover {
  color: #ffffff;
  text-decoration: underline;
}

.lineDecoratorContainer {
  display: flex;
}

.lineDecoratorWhite {
  border-bottom: 1px solid white;
  width: 14px;
  margin: 45px 0;
}

.aboutContent {
  margin: 10px 0 80px;
}

.linkDecoration {
  display: flex;
  border: 5px solid blue;
  margin-top: -10px
}

.greetingsLink:hover .linkDecoration {
  border: 5px solid #0000bb;
}

.heroContainer {
  width: 100%;
  margin: 250px 0 75px;
}

.sliderContainer {
  margin-top: 180px;
  margin-bottom: 240px;
  width: 100%;
}





@media screen and (max-width: 756px) {
  .backgroundContainer{
    min-width: 320px;
  }
.componentContainer {
    width: 90%;
    padding-bottom: 0;
  }
  .heroContainer {
    width: 100%;
    margin: 30px 0 40px;
  }
  .greetingsContainer {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  .greetingsCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 0;
  }

  .greetingsCard {
    display: none;
  }
  .greetingsCard:first-child {
    display: block;
  }

  .greetingsParagraph {
    width: 100%;
    margin-bottom: 40px;
  }

  .greetingsLink{
    font-size: 18px;
  }

  .sliderContainer{
    width: 100%;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .aboutContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 130px;
    justify-content: initial;
  }

  .aboutContainer{
    margin-bottom: 0;
  }

  .aboutContent{
    margin-top: 0px;
    margin-bottom: 50px;
  }
  
  .aboutCard {
   display: none;
    
  }

  .aboutCard:nth-child(-n+2){
    display: block;
    width: 100%;
   }

   .aboutTitle{
    margin-bottom: 30px;
  }

   .aboutParagraph{
     font-size: 1.4rem;
     width: 100%;
   }

  
  
}