.footerContainer {
  color: #ffffff;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #000000;
  padding-top:90px;
  padding-bottom: 120px;
}

.marginContainer {
  max-width: 1180px;
  background-color: #000000;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // padding: 85px 0 125px;
}

.legalAndTextContainer {
  margin-top: 100px;
  display: flex;
}

.socialMediaNavigation {
  display: flex;
  flex-direction: row;
}


.signOffContainer {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.signOffContent {
  display: flex;
  flex-direction: column;
}

.signOffContent .imageHolder {
  margin-bottom: 40px;
}

.multiCultural {
  font-weight: 600;
}

.contactMessageContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contactMessageText,
.contactMessageEmail {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 300;
}

.contactMessageEmail {
  color:#0000FF;
}

.countriesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.legal {
  margin-bottom: 20px;
}

.socialMediaLink {
  margin-right: 12px;
}

.countries {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 100px;
}

.lineDecoratorContainer {
  display: flex;
}

.lineDecorator {
  border: 1px solid black;
  width: 14px;
  display: flex;
  margin-bottom: 100px;
}

.whiteSpace {
  min-height: 100px;
}

.col50 {
  display: flex;
  width: 50%;
}

.col70 {
  display: flex;
  width: 70%;
}

.col30 {
  display: flex;
  width: 30%;
}

.signOffContainer .imageSource {
  width: 180px;
}

.socialMediaNavigation .imageSource {
  width: 25px;
}

.contactMessageContainer .logo {
  display: none;
}

.hablamosEspanol{
  display: none;
}

.arrow {
  color: #0000ff;
}

@media screen and (max-width: 756px) {
  .footerContainer {
    width: 100%;
    padding-top: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 50px;
    padding-bottom: 0;
  }

  .marginContainer {
   width: 90%;
   padding-bottom: 0;
   padding-top: 0;
   margin-top: 0;
  }

  .signOffContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    order:2;
    margin-top:40px;
  }
  .signOffContainer .logo {
    display: none;
  }

  .signOffContent{
    font-size: 1rem;
    line-height: 1.3;
  }
  .contactMessageContainer .logo {
    display: block;
    width: 50%;
    margin-bottom: 30px;
  }

  .contactMessageContainer  {
    width: 100%;
    order:1;
    margin-top: 0px;
  }

  .contactMessageEmail  {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 28px;
  }

  .contactMessageText{
    font-size: 1.4rem;
    line-height: 1.3;
    margin-bottom: 5px;
  }

  .countriesContainer{
    order:1;
    width: 100%;
    margin-bottom: 35px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .countries{
    font-size: 1.2rem;
    margin: 0;
  }

  .hablamosEspanol{
    display: block;
    margin-bottom: 20px;
  }

  .legal{
    margin-bottom: 20px;
    
  }

  .legalAndTextContainer {
    margin-top: 30px;
    flex-direction: column;
    order: 2;
  }
  
  
}
