.backgroundContainer {
  background-color: #000000;
}

.fullWidth{
  width: 100%;
  margin-bottom: 30px;
}
.componentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
  color: #ffffff;
  
}

.leadInContainer {
  display: flex;
  flex-direction: row;
  height: 650px;
  width: 100%;
}
.leadInDescription {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  width: 50%;
}

.leadInImage {
  height: 100%;
  width: 50%;
  background-color: #222222;
}

.imageHolder {
  width: 100%;
}

.imageSource {
  width: 100%;
}

.projectNumber {
  padding-bottom: 60px;
}

.projectTitle {
  font-size: 16px;
 margin-bottom: 70px;
 font-weight: lighter;
}
.projectsubtitle {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

.projectParagraph {
  font-size: 23px;
}



.projectInformation {
  width: 50%;
  margin-left: 100px;
}


@media screen and (max-width: 756px) {
  .fullWidth{
    margin-bottom: 20px;
  }

  
 
  .leadInContainer {
    height: auto;
    width: 100% !important;
    flex-direction: column;

  }

  .leadInDescription {
    padding-top: 0;
    width: 100% !important;
  }
  
  .projectInformation {
    margin-left: 0;
    width: 100% !important;
  }

  .leadInImage {
    height: 400px;
    width: 100%;
  }

  .projectTitle{
    margin-bottom: 20px;
      font-size: 23px;
      font-weight: bolder;
    
  }

  .projectParagraph{
    margin: 45px 0;
  }

  
}