.backgroundContainer {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
}

.carbonAnimation {
  position: absolute;
  top: 100px;
  left: -1350px;
  // display: inline-block;
  // animation: skew 25s infinite;
  transform: skew(5deg, 10deg);
  transform: rotate(10deg);

  // animation-direction: alternate;
}

@keyframes skew {
  0% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(-5deg);
  }
}
.componentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #000000;
  margin: 0 auto;
  max-width: 1180px;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.whoWeAreSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 140px 0 0 0;
}

.whoWeAreCard {
  width: 100%;
}

.whoWeAreContainer {
  width: 50%;
}

.subtitle {
  font-family: "Helvetica-Now-Regular", Helvetica;
  font-size: 55px;
  line-height: 1;
  width: 90%;
}

.blue {
  color: #0000ff;
  margin-bottom: 45px;
}

.title {
  font-size: 23px;
  margin-bottom: 85px;
  margin-top: 45px;
}

.whatWeBelieveInSection .title {
  font-size: 23px;
  margin-bottom: 60px;
  margin-top: 45px;
}

.enLoQueCreemosCard .title {
  font-size: 23px;
  margin-bottom: 50px;
  margin-top: 45px;
}

.paragraph1 {
  font-size: 23px;
  margin-bottom: 40px;
  margin-top: 45px;
}

.paragraph2 {
  font-size: 23px;
  margin-bottom: 45px;
  display: flex;
}

.paragraphWinWin {
  font-size: 23px;
  margin-bottom: 100px;
  margin-top: 45px;
}

.whatWeBelieveInSection {
  display: flex;
  margin-bottom: 90px;
}

.whatWeBelieveInCard {
  width: 77%;
}

.word {
  font-size: 130px;
  line-height: 0.8;
  padding-bottom: 68px;
  font-family: "Helvetica-Now-Light";
}

.enLoQueCreemosCard {
  width: 23%;
  margin-bottom: 0;
}

.description {
  margin-bottom: 0;
}

.listTitle {
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 0;
}

.listParagraph {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 1.3;
}

.whatWeDoSection {
  position: relative;
}

.whatWeDoCard {
  width: 45%;
}

.servicesSection {
  margin-bottom: 140px;
  width: 50%;
}

.servicesCard .title {
  margin-bottom: 40px;
}

.servicesList {
  font-size: 23px;
}

.whatWeDoCard .title {
  margin-bottom: 60px;
}

.whatWeDoCard .subtitle {
  font-size: 40px;
  margin-bottom: 65px;
}

.viewWorkSection {
  display: none;
}

.winWinContainerAbsolute {
  position: absolute;
  bottom: 50px;
  right: -300px;
}

.winWinContainerAbsolute .imageSource {
  width: 350px;
  height: 350px;
}

.lsdContainerAbsolute {
  position: absolute;
  top: 0;
  left: -200px;
  visibility: visible;
}

.lsdContainerAbsolute .imageSource {
  height: 1000px;
}

.carbonIconBlackContainerAbsolute {
  position: absolute;
  top: 0;
  right: -350px;
}

.linkContainer {
  text-decoration: none;
}

.carbonIconBlackContainerAbsolute .imageSource {
  height: 850px;
  animation-name: spin;
  animation-duration: 99999ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.winWinHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 80px;
  position: relative;
  .imageHolder {
    width: 100%;
  }

  .imageSource {
    width: 100%;
  }
  .circleAbsolute {
    top: -3px;
    left: -10px;
    width: 100px;
    position: absolute;
  }
}

.servicesLists{
  display: flex;
  width: 100%;
}

.servicesColumn{

  width: 40%;
}

@media screen and (max-width: 756px) {
  .backgroundContainer {
    min-width: 320px;
  }
  .componentContainer {
    width: 90%;
    padding-bottom: 0;
  }
  .whoWeAreSection {
    width: 100%;
    justify-content: initial;
    margin-top: 40px;
    margin-bottom: 0;
    flex-direction: column;
  }

  .whoWeAreContainer {
    width: 100%;
  }

  .whoWeAreCard {
    margin: 0;
    width: 100%;
  }

  .title {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
  }
  .subtitle {
    font-size: 36px;
    margin-bottom: 85px;
    line-height: 1;
  }

  .whatWeBelieveInSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .whatWeBelieveInCard {
    width: 100%;
    margin-bottom: 0;
    height: 100%;
  }

  .word {
    font-size: 40px;
    line-height: 0.8;
    padding-bottom: 15px;
    color: #0000ff;
  }

  .whatWeBelieveInSection .title {
    margin-bottom: 40px;
  }

  .enLoQueCreemosCard {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .enLoQueCreemosCard .title {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .description {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .listTitle {
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .listParagraph {
    font-size: 23px;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .description {
    display: inline-block;
  }

  .whatWeDoSection {
    display: none;
  }
  .servicesSection {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .servicesCard .title {
    margin-bottom: 35px;
  }

  .lsdContainerAbsolute {
    display: none;
  }

  .winWinContainerAbsolute {
    position: relative;
    bottom: 0;
    right: 0;
  }

  .winWinContainerAbsolute .imageSource {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: flex;
  }

  .carbonAnimation {
    display: none;
  }

  .whoWeAreSection .paragraph {
    margin-top: 0;
  }
  .whoWeAreSection .subtitle {
    margin-bottom: 50px;
  }

  .paragraphWinWin {
    margin-bottom: 50px;
  }

  .viewWorkSection {
    background-color: #0000ff;
    display: flex;
    height: 400px;
    width: 100%;
    position: relative;
  }

  .viewWorkImageHolder {
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .viewWorkImage {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .viewWorkContainer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    z-index: 1;
  }

  .viewWorkSection .title {
    color: white;
    margin: 40px 0;
    font-size: 26px;
  }

  .linkContainer {
    color: white;
    margin-top: 240px;
  }
}
