.backgroundContainer {
  width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  text-align: inherit;
  outline: none;
  border-radius: 0;
}

/* Remove excess padding and border in Firefox 4+ */
// &::-moz-focus-inner {
//     border: 0;
//     padding: 0;
// }

.homeLogoContainer {
  width: 33%;
  margin-top: 45px;
}

.locationContainer {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.navigationContainer {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.weatherIcon {
  margin: 0 5px;
}

.weatherIcon .imageSource {
  width: 20px;
  height: 20px;
}

.timeAndWeather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
}

.headerContainer {
  display: flex;
}

.navigationButton {
  width: 120px;
  background-color: blue;
  padding-top: 50px;
  transition: .5s;

}

.hamburger {
  padding: 25px;
}

.hamburgerLine {
  display: flex;
  border-bottom: 2px solid white;
  margin: 6px 0;
}

.location {
  color: white;
}

.homeLogoContainer .imageSource {
  width: 75px;
}

.locationContainer {
  font-size: 1.5rem;
}

.actualTime {
  margin: 0 5px;
}

.navigationButton:hover{
  cursor: pointer;
  background-color: #005aff;
  transition: .5s;
}

@media screen and (max-width: 756px) {

  .backgroundContainer{
    min-width: 320px;
  }
  .locationContainer {
    display: none;
  }
  .headerContainer {
    width: 90%;
  }
  
  .homeLogoContainer {
    width: 50%;
    margin: 20px 0;
    
  }
  .navigationContainer {
    width: 50%;
    
  }
  .homeLogoContainer .imageSource {
    width: 40px;
  }

  .navigationButton {
    width: 56px;
    height: 60px;
    background-color: blue;
    padding-top: 0;
  }

  
  .hamburger {
    padding: 0 10px;
    margin-top: 25px;
  }
  
  .hamburgerLine {
    display: flex;
    border-bottom: 1px solid white;
    margin: 3px 0;
  }
  
}
