h1,
h2,
h3,
h4,
a,
p,
div,
nav,
img,
body,
figure {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  vertical-align: middle;
}

body{
  min-width: 1180px;
  color: #fff;
  font-family:  "Helvetica-Now-Regular";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
  font-family:  "Helvetica-Now-Bold";
  font-weight: normal;
}


[data-aos="example-anim1"] {
  opacity: 0;
  padding-top: 30px;
  &.aos-animate {
    opacity: 1;
    padding-top: 0;
  }
}

@font-face {
  font-family: 'Helvetica-Now-Regular';
  src: local('Helvetica-Now-Regular'), url("../static/fonts/Helvetica-Now/Monotype\ \ -\ Helvetica\ Now\ Display.otf") format('truetype');
}

@font-face {
  font-family: 'Helvetica-Now-Bold';
  src: local('Helvetica-Now-Bold'), url("../static/fonts/Helvetica-Now/Monotype\ \ -\ Helvetica\ Now\ Display\ Bold.otf") format('truetype');
}

@font-face {
  font-family: 'Helvetica-Now-Light';
  src: local('Helvetica-Now-Light'), url("../static/fonts/Helvetica-Now/Monotype\ \ -\ Helvetica\ Now\ Display\ Light.otf") format('truetype');
}




.lineDecoratorWhite {
  display: flex;
  border-bottom: 2px solid white;
  width: 20px;
}

.lineDecorator {
  display: flex;
  border-bottom: 2px solid;
  width: 20px;
}

.white {
  border-color: white;
}

.black {
  border-color: black;
}

.start{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.decoratorContainer{
  display: flex;
}

.margin-70{
  margin-right: 70%;
}

.margin-66{
  margin-right: 66%;
}

.margin-55{
  margin-right: 55%;
}

.margin-50{
  margin-right: 50%;
}

.margin-33{
  margin-right: 33%;
}

.col-33{
  width: 33%;
}

.col-67{
  width: 67%;
}


.margin-30{
  margin-right: 30%;
}

.margin-22{
  margin-right: 22.5%;
}

.displayRow{
  display: flex;
  flex-direction: row;
}

.mobile{
  display: none;
}

.space-y-140{
  margin: 140px 0;
}
.space-y-195-185{
  margin: 195px 0 185px;
}

.hidden{
  visibility: hidden;
}

@media screen and (max-width: 756px) {
  .decoratorContainer{
    display: flex;
    justify-content: space-between;
  }

  .lineDecorator {
    display: flex;
    border-bottom: 2px solid;
    width: 20px;
  }
  .mobile{
    display: flex;
  }

  .desktop {
    display: none !important;
  }
}




@media screen and (max-width: 756px) {
  body{
    min-width: 320px;
  }
}