.backgroundContainer {
  background-color: #000000;
}
.componentContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
  color: #ffffff;
  min-height: 600px;
  width: 90%;

}

.socialMediaNavigation {
  display: flex;
  flex-direction: row;
}

.socialMediaLink {
  margin-right: 12px;
}

.imageHolder {
  width: 100%;
}

.imageSource {
  width: 100%;
}

.greeting {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 140px;
}

.winWinContainer {
  width: 33%;
}

.winWinSize {
 
  height: 100%;
}

.winWinSize .imageSource{
  width: 140px;
  margin-top: 80px;
}

.getInTouch {
  width: 60%;
  font-size: 55px;
  line-height: 1;
  .paragraph{
    margin-top: 80px;
    font-size: 55px;
  }
}

.eMail {
  display: inline-block;
  margin: 60px 0 25px;
  background-color: #ffffff;
  color: #000000;
}

.socialMediaLink {
  width: 30px;
}

.hablamosEspanol {
  display: none;
  font-size: 23px;
  margin: 35px 0;
}

.arrow {
  color: #0000ff;
}




.halftone{
  width: 250px;
  margin-top: 70px;
}

.socialMediaLink {
  line-height: 1;
  margin-top: 20px;
  .imageHolder {
    position: relative;
    display: flex;
  }
  .imageSource {
    opacity: 1;
    transition: 0.5s;
  }
  .imageSourceHover {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    left: 0;
  }
}

.socialMediaLink:hover {
  .imageSource {
    opacity: 0;
    transition: 0.5s;
  }
  .imageSourceHover {
    opacity: 1;
    transition: 0.5s;
  }
}

@media screen and (max-width: 980px) {
  .halftone{
    margin-bottom: 40px;
  }
  .greeting{
    margin-bottom: 80px;
  }
  .getInTouch{
    .paragraph{
      font-size: 45px;
    }
    .eMail{
      font-size: 45px;

    }
  }
}


@media screen and (max-width: 756px) {
  .backgroundContainer {
    min-width: 320px;
  }
  .componentContainer {
    width: 90%;
    padding-bottom: 0;
    min-height: 0;
  }

  .greeting {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .winWinSize {
    display: none;
  }

  .winWinContainer {
    display: none;
  }

  .getInTouch {
    width: 100%;
  }

  .getInTouch .eMail {
    display: inline-block;
    margin: 8px 0 15px;
    background-color: #ffffff;
    color: #000000;
    font-size: 24px;
    padding: 10px 10px 10px 10px;
  }

  .paragraph {
    width: 80%;
    font-size: 23px;
    line-height: 1;
    margin-top: 45px;
  }

   .hablamosEspanol {
    display: flex;
    margin-top: 15px;
    font-family: "Helvetica-Now-Bold";
font-size: 14px;
  }

  .arrow {
    color: #0000ff;
    margin: 0 5px;
    display: flex;
    .imageSource{
      width: 10px;
    }
  }
  

  .halftone{
    display:none
  }
}
